@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #4c4c78;
    margin: 5px;
}

.nav{
    margin: 0 7rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .logo h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.nav .navigation ul{
    display: flex;
    flex-direction: row;
}

.nav .navigation ul li{
    list-style: none;
    padding: 0 1rem;
}

.nav .navigation ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s ease;
}

.nav .navigation ul li a:hover{
    color: #0EA5E7
}

.nav .navigation ul li a span{
    font-size: 0.9rem;
    border: 1px solid #6927ff;
    padding: 12px 20px;
    background: #6927ff;
    border-radius: 5px;
    color: #fff;
}

.home{
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home .text{
    width: 35%;   
    margin-left: 4rem;
}

.home .text h5{
    font-size: 1rem;   
    font-weight: bold;
    letter-spacing: 4px;
    color: #b091f8
}

.home .text h1{
    font-size: 3rem;   
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    line-height: 65px;
    padding-bottom: 10px;
}

.home .text p {
    font-size: 1rem;   
    letter-spacing: 1px;
    color: #AFB9CB;
    padding-bottom: 12px;
}

.home .back{
    width: 52%;   
}

.home .back .frontImg{
    width: 100%;   
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    margin-right: 3rem;
}

@keyframes up-down {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
    
}

.home .text button{
    background-color: #0EA5E7;
    border: 1px solid #6927ff;
    font-size: 1rem;
    font-width: 600;
    padding: 20px 25px;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 15px 30px -12px rgb(0 0 0 /20%);
    transition: 0.3s ease;
}

.home .text button:hover{
    background: transparent;
}
